body {
    background-color: #DDDDDD;
}
@font-face {
    font-family: 'Vazirmatn RD';
    src: url('/fonts/Vazir/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
    url('/fonts/Vazir/Vazirmatn-RD[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Tanha';
    /*src: url('/fonts/Tanha/Tanha.woff2') format('woff2 supports variations'),*/
    /*url('/fonts/Tanha/Tanha.woff2') format('woff2-variations'),*/
    src: url('/fonts/Tanha/Tanha.eot') format('embedded-opentype'),
    url('/fonts/Tanha/Tanha.woff2') format('woff2'),
    url('/fonts/Tanha/Tanha.woff') format('woff'),
    url('/fonts/Tanha/Tanha.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

.vazir-rb {
    font-family: 'Vazirmatn RD';
}
.Tanha {
    font-family: 'Tanha';
}
.navbar-brand {
    width: 100px;
    height: 100px;
}
.decoration-none {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
.register-button {
    border: solid #7293be 1px;
    border-radius: 20px;
}

.navbar-bg {
    background-color: #3C4F65;
}
.logo-text, .nav-link{
    color: white;

}
.nav-link:focus , .nav-link:hover, .logo-text{
    color: #e94560;
}

.modal-content {
    background: none;
    border: none;
}
.modal {
    background: rgba(0, 0, 0, 0.5);
}
.search{
    width: 100%;
    margin-bottom: auto;
    margin-top: auto;
    height: 70px;
    background-color: #fff;
    border-radius: 40px;
    padding: 10px;
}

.search_input{

    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top:5px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.search .search_input {
    direction: rtl;
    padding: 0 10px 0 60px;
    width: 100%;
    transition: width 0.4s linear;
}

.search_icon:hover{
    background: #145375;
    color: white;
    transition: 0.2s;
}


.search_icon {
    height: 60px;
    width: 60px;
    position: relative;
    margin-top: -50px;
    margin-left: -5px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #dcd9d9;
    background-color: #00334e;
    border: none;
}
.close-modal {
    margin-left: auto;
    margin-right: 5%;
}
.modal-search-btn {
    margin-left:40px;
    font-size: 30px;
}

.fa-bars {
    color: white;
}
.logo-text {
    font-family: 'Brush Script MT', cursive;font-size: 50px
}
.login-nav-link{
    margin-left: 20px;
}
.child-drop-down {
    margin-top: 40px;
    text-align: right;
}
.logo-section {
    justify-content: right
}
.letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 550px;
    width: 100%;
    padding: 24px;
    position: relative;
    z-index: 1;
    text-align: right;
    float: right;

}
.letter:before, .letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -4;
}
.letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;

    transform: rotate(-2.5deg);
}
.letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}
.img-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    width: 100%;
    max-width: 300px;
    height: 200px;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 5px
}

.article-details {
    text-align: right;
}
.article-card {
    margin-top: 90px;
    float: right;
    max-width: 850px;
    min-height: 310px;
    max-height: 400px;
    background-color: rgba(255, 255, 255, 0.78);
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: 1px solid transparent
}
.profile {
    border-radius: 50%;width: 60px;height: 60px
}
.custom-a {
    text-decoration: none;
    color: black;
}
.small-font {
    font-size: 15px;
    font-weight: bold;
}
.sidebar-username {
    font-size: 13px;
}
.tops-ul {
    padding: 0
}
.sidebar-title {
    color: #363636;
    font-size: 20px;
    font-weight: 700;
}
.sidebar-section {
    margin-left: 70px;
    height: 100vh;
    border-radius: 10px
}
.articles-bookmark {
    font-size: 20px
}
.read-more, .read-more {
    display: block;
    margin: auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: rgba(35, 168, 51, 0.71);
    font-weight: bold;
    transition: 0.5s max-width ease;
    cursor: pointer;
}
.read-more:hover, .read-more:hover {
    transition: 0.5s;
    font-size: 18px;
    color: rgba(0, 160, 20, 0.85);
    max-width: 68%;
}


 .fa-heart:hover {
     color: red;
 }
.fa.fa-heart {
    color: red;
}
.dropdown>.profile-link {
    display: block;
    opacity: 0;
}

.dropdown:hover>.profile-link {
    opacity: 1;
    display: block;
    transition: .9s;

}

.dropdown>.dropdown-toggle:active {

    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li, .social-list a{
    padding:10px;
    color:#8E24AA;
    font-size:19px;
}
#comments {
    background-color:#FFFFFF;
}

#comments form {
    margin-bottom:30px;
}

#comments .btn {
    margin-top:7px;
}

#comments form fieldset {
    clear:both;
}

#comments form textarea {
    height:100px;
}

#comments .media {
    border-top:1px dashed #DDDDDD;
    padding:20px 0;
    margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
    max-width:100px;
}

#comments .media h4 {
    margin:0 0 10px;
}

#comments .media h4 span {
    font-size:14px;
    float:right;
    color:#999999;
}

#comments .media p {
    margin-bottom:15px;
    text-align:justify;
}

#comments .media-detail {
    margin:0;
}

#comments .media-detail li {
    color:#AAAAAA;
    font-size:12px;
    padding-right: 10px;
    font-weight:600;
}

#comments .media-detail a:hover {
    text-decoration:underline;
}

#comments .media-detail li:last-child {
    padding-right:0;
}

#comments .media-detail li i {
    color:#666666;
    font-size:15px;
    margin-right:10px;
}
.tops-title
{
    color: #363636;
    font-size: .9rem;
    font-weight: 500;
    margin-top: -4px;
    min-width: 250px;
    max-width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Posts-info {
    max-width: 300px;
}
.button-none {
    border: none;background:none;
}
.auth-icon {
    margin-top: 23px;
}
