body{
    direction: rtl;
    text-align: right;
    font-family: 'Vazir', sans-serif;
    font-size: .9rem;
}

#sidebar{
    height: 100%;
}

@media (min-width: 768px){
    #sidebar{
        /*height: calc(100vh - 62px) !important ;*/
        height: 100vh ;
        /*position: fixed;*/
        transition: transform .5s linear;
    }
    /* #sidebar.collapse{*/
    /*    transform: translate(100%,0);*/
    /*}*/
    #sidebar.collapse.show{
        transform: translate(0,0);
    }
    #sidebar.collapsing{
        transform: translate(100%,0);
    }
}

#sidebar.collapsing{
    height: 0;
}

#sidebar .nav-link{
    color: #000000;
}

#sidebar .oi{
    transition: .3s transform ease-in-out;
}

#sidebar .oi-chevron-left{
    transform: rotate(-90deg);
}

#sidebar .collapsed .oi-chevron-left{
    transform: rotate(0deg);
}

.loader-div{
    background-color: rgba(12, 16, 33, 0.5);
    z-index: 10000;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
}
.loader {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 40vh;
    border: 4px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}
.loader::before {
    width: 64px;
    height: 64px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

